html,
body {
  height: 100%;
}
body {
  margin: 0;
    min-height: 100%;
}
div.loginform-wrapper {
  display: table;
  height: 100%;
    width: 100%;
}
div.loginform-wrapper form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.loginform-wrapper form#LoginForm input[type=email],
div.loginform-wrapper form#LoginForm input[type=password] {
    background: rgba(255, 255, 255, 0.8);
}

div.loginform-wrapper form#LoginForm input[type=email],
div.loginform-wrapper form#LoginForm input[type=password],
div.loginform-wrapper form#LoginForm input[type=submit] {
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
}
div.loginform-wrapper form#LoginForm input[type=submit] {
    background: #3383ff;
    border: 1px;
    color: whitesmoke;
    width: 65px;
}
div.loginform-wrapper form#LoginForm input[type=submit]:disabled {
    background: rgba(60, 133, 255, 0.7);
}
div.loginform-wrapper form#LoginForm input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
div#ytbg {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -99;
}
div.notify {
    display: none;
    height: 50px;
    padding: 0.5em;
    position: fixed;
    width: 100%;
}
div.notify .notify-wrapper {
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 3px;
    color: whitesmoke;
    display: table;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}
div.notify .notify-wrapper .notify-message {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
}
@-webkit-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#ytbg div {
    animation-duration: 16s;
    -moz-animation-duration: 16s;
    -o-animation-duration: 16s;
    -webkit-animation-duration: 16s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: ytbgFadeInOut;
    -moz-animation-name: ytbgFadeInOut;
    -o-animation-name: ytbgFadeInOut;
    -webkit-animation-name: ytbgFadeInOut;
    animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
#ytbg div:nth-of-type(1) {
    animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -webkit-animation-delay: 12s;
}
#ytbg div:nth-of-type(2) {
    animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -webkit-animation-delay: 8s;
}
#ytbg div:nth-of-type(3) {
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
#ytbg div:nth-of-type(4) {
    animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
