html,
body {
  height: 100%;
}
body {
  margin: 0;
    min-height: 100%;
}
div.loginform-wrapper {
  display: table;
  height: 100%;
    width: 100%;
}
div.loginform-wrapper form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div#ytbg {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -99;
}
input[type=text],
input[type=password],
input[type=submit] {
  border: 1px solid lightblue;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
}
.loginform input[type=submit] {
    width: 65px;
}
input[type=submit] {
  background: #3383ff;
  border: 1px;
  color: whitesmoke;
}

@-webkit-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ytbgFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#ytbg img {
    animation-duration: 16s;
    -moz-animation-duration: 16s;
    -o-animation-duration: 16s;
    -webkit-animation-duration: 16s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: ytbgFadeInOut;
    -moz-animation-name: ytbgFadeInOut;
    -o-animation-name: ytbgFadeInOut;
    -webkit-animation-name: ytbgFadeInOut;
    animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    left: 0;
    position: absolute;
}

#ytbg img:nth-of-type(1) {
    animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -webkit-animation-delay: 16s;
}

#ytbg img:nth-of-type(2) {
    animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

#ytbg img:nth-of-type(3) {
    animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -webkit-animation-delay: 8s;
}

#ytbg img:nth-of-type(4) {
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
