<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }} - FryPic - we fry u</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="notify{% if notify %} showme{% endif %}">
    <div class="notify-wrapper">
        <div class="notify-message">{{ notify }}</div>
    </div>
</div>
{% if not login %}
{% include 'login-body.html' %}
{% else %}
<div class="page-wrapper">
    <div class="header-wrapper">
        <div class="header">
            <a href="/{{ name }}" class="sitelogo">FryPic</a>
        </div>
    </div>
    <div class="content-wrapper">
        {% if page %}
        {% include page + '-body.html' %}
        {% else %}
        {% include 'main-body.html' %}
        {% endif %}
    </div>
    <div class="footer">
        <div class="footer-text">
            FryPic - only here you can touch your reality
        </div>
    </div>
</div>
{% endif %}
    <script src="/static/js/script.js"></script>
</body>
</html>