<div id="ytbg">
    <div style='background-image: url("/static/imgs/bg1.jpg")'></div>
    <div style='background-image: url("/static/imgs/bg2.jpg")'></div>
    <div style='background-image: url("/static/imgs/bg3.jpg")'></div>
    <div style='background-image: url("/static/imgs/bg4.jpg")'></div>
</div>
<div class="loginform-wrapper">
    <form method="post" action="/login" name="LoginForm" id="LoginForm">
        <div class="sitelogo">
            FryPic
        </div>
        <div>
            <input type="email" name="login" id="login" placeholder="E-Mail" value="test@test.com" required/>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password" value="password" required/>
        </div>
        <div>
            <input type="submit" name="logbtn" id="logbtn" value="Log in"/>
            <input type="submit" name="sigbtn" id="sigbtn" value="Sign in"/>
        </div>
    </form>
</div>