<div class="content-body">
    <div class="inbody feed">
        <div class="block-title"><i class="material-icons">home</i> Feed</div>
        <div class="block-body">
            312
            <div class="tools">
                <i class="material-icons">add_box</i>
                <i class="material-icons">settings_applications</i>
            </div>
        </div>
    </div>
    <div class="inbody">
        <div class="block-title"><i class="material-icons">movie</i> Video</div>
        <div class="block-body">
            312
            <div class="tools">
                <i class="material-icons">add_box</i>
                <i class="material-icons">fast_rewind</i>
                <i class="material-icons">play_arrow</i>
                <i class="material-icons">fast_forward</i>
                <i class="material-icons">settings_applications</i>
            </div>
        </div>
    </div>
    <div class="inbody">
        <div class="block-title"><i class="material-icons">queue_music</i> Audio</div>
        <div class="block-body">
            312
            <div class="tools">
                <i class="material-icons">add_box</i>
                <i class="material-icons">fast_rewind</i>
                <i class="material-icons">play_arrow</i>
                <i class="material-icons">fast_forward</i>
                <i class="material-icons">settings_applications</i>
            </div>
        </div>
    </div>
    <div class="inbody feed">
        <div class="block-title"><i class="material-icons">home</i> Chats</div>
        <div class="block-body">
            312
            <div class="tools">
                <i class="material-icons">settings_applications</i>
            </div>
        </div>
    </div>
</div>